.DS_Store
.dart_tool/
.idea

.packages
.pub/
*.lock

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

# Flutter FVM
.fvm/flutter_sdk
node_modules/
package-lock.json

**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
